<app-header></app-header>

<ion-content>
    <div *ngIf="sportHall">
        <h1>{{sportHall.name}}</h1>
        <ion-img className="cardImg" src="{{sportHall.mainPicture}}"></ion-img>
        <p>{{sportHall.address}}</p>
    </div>
    <full-calendar #calendar [options]="calendarOptions"></full-calendar>
    <div *ngIf="sportHall">
        <ion-button [routerLink]="['/addbooking/'+sportHall.id]">Ajouter nouveau évènement</ion-button>
        <p *ngFor="let b of sportHall.Bookings" >{{b.start | date}} to {{b.end | date}} - {{b.message}}</p>
    </div>
</ion-content>
