small{
    color: red;
}
.form-center{
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
}

.registerBtn{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 150px;
    
}